/* sticky header */
.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0.98;
}
/* 

trailer */
.trailer{
    position: fixed;
    top:-50%;
    left:-50%;
    transform: translate(50%,50%);
    z-index:1000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
}
.trailer video{
    max-width: 70%;
    outline:none;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.close{
    color: red;
    position: absolute;
    top: 30px;
    right:30px;
    cursor: pointer;
}
div.navbg.navbar.navbar-expand-lg.navbar-dark
{
    padding: 0px;
}
div.bar.container-fluid{
    padding: 0px;
}
.navbg{
    background-color: black;
}
#navbarNavAltMarkup{
    padding-left: 10rem;
}
@media  screen and (max-width:1300px){
    #navbarNavAltMarkup{
        padding-left: 3rem;
    }
}
@media  screen and (max-width:1200px){
    #navbarNavAltMarkup{
        padding-left: 0rem;
    }
}
@media  screen and (max-width:370px){
    #hdr_logo{
        height: 0px;
        width: 0px;
    }
}
.masthead{
    background-size: cover;
    min-height: 60vh;
    background-color:rgb(0, 0, 0);
    height: 85vh;
}
#bouncing_logo{
    animation: animate 5s linear infinite;
}
#bouncing_logo_mob{
    animation: animate_mob 5s linear infinite;
}
#main_text{
    border-left: solid rgb(190, 30, 30) 10px;
    animation: slide 1s 0.2s ease;
}
@media  screen and (max-width:990px){
    #main_text{
        border:0px;
    }
}
@keyframes slide {
    0%{
        transform: translatex(-200px);
    }

    100%{
        transform: translatex(0px);
    }

}
/* @keyframes animate_mob {
    0%,100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
} */
@keyframes animate {
    0%,100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-50px);
    }
}
@keyframes animate_mob{
    0%,100%{
        transform: translateY(75px);
    }
    50%{
        transform: translateY(0px);
    }
}
/*hover effects*/
.nav-link h4{
    transition:4 0.5 ease-in;
}
.nav-link h4:hover{
    color: rgb(190, 30, 30);
}

/*linear gradient colour*/
.lg_up_events{
    height:100px;
    background: linear-gradient(to top, rgb(8, 8, 8),rgb(0, 0, 0) );
}

/* upcoming events */
#events{
    background-color: rgb(8, 8, 8);
    height:auto;
}
@media  screen and (max-width:368px){
    #card1{
      display: none;
    }
  }
/* #event_row{
   Were trying to reduce the extra whitespace appearing due to row margin 
} */
#events h3{
    color:rgb(190, 30, 30) ;
}
#mob_card {
    color:rgb(107, 93, 93) ;
    font-size: 200px;
    transition: 10 0.5 ease;
}
#mob_card:hover{
    color:rgb(190, 30, 30) ;
    font-size: 220px;
}
@media screen and (min-width:369px)
{
    #mob_card {
        display: none;
    }
}
.extra_event{
    background-color: rgb(8, 8, 8);
}
/*linear gradient colour*/
.lg_video_sec{
    height:100px;
    background: linear-gradient(to top, rgb(11,11,11), rgb(8, 8, 8));
}

/* video section */
#video{
    background-color: rgb(11,11,11);
    color:rgb(170, 31, 31) ;
}

/*linear gradient colour*/
.lg_about_sec{
    height:100px;
    background: linear-gradient(to top,rgb(17, 14, 14),rgb(11,11,11));
}

/* about section */
#about{
    background-color: rgb(17, 14, 14);
    color:rgb(170, 31, 31) ;
}

/* fading effect */
.reveal {
    position: relative;
    opacity: 0;
  }
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.fade-bottom2 {
    animation: fade-bottom2 1s ease-in;
  }
.active.fade-bottom3 {
    animation: fade-bottom3 1.25s ease-in;
  }
.active.fade-right {
    animation: fade-right 2s ease;
  }
@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-bottom2 {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-bottom3 {
    0% {
      transform: translatey(50px);
      opacity: 0;
    }
    100% {
      transform: translatey(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translatex(-200px);
      opacity: 0;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }

