#aboutUs {
  background-color: rgb(8, 8, 8) !important;
  height: auto;
}

#aboutUs h3 {
  color: rgb(178, 62, 62);
}

.about {
  padding: 0;
  color: white;
  font-family: monospace;
  font-size: x-large;
}

@media screen and (max-width: 900px) {
  .about {
    font-size: large;
  }
}
.lg_aboutus_sec {
  height: 100px;
  background: linear-gradient(to top, rgb(11, 11, 11), rgb(8, 8, 8));
}
